<% if sub.persisted? %>
  <% action_url, method, button_text = sub_url(sub), "PATCH", "Update Sub" %>
<% else %>
<% action_url, method, button_text = subs_url, "POST", "Create Sub" %>
<% end %>

<form class="" action="<%= action_url %>" method="POST">
  <input type="hidden" name="_method" value="<%= method %>">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="sub_title">Title: </label>
  <input type="text" name="sub[title]" value="<%= sub.title %>" id="sub_title">
  <br><br>

  <label for="sub_description">Description: </label>
  <input type="text" name="sub[description]" value="<%= sub.description %>" id="sub_description">
  <br><br>

  <input type="submit" name="form_submit" value="<%= button_text %>">

</form>
